/* index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.navbar {
    display: flex;
    gap: 15px;
    background-color: #222;
    padding: 10px;
}

.navbar a,
.navbar button {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.theme-toggle-button {
    margin-left: auto;
    padding: 6px 12px;
    background-color: #444;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.theme-toggle-button:hover {
    background-color: #666;
}
:root {
    --primary-color: #4F46E5;
    /* красивый синий индиго */
    --secondary-color: #6366F1;
    --accent-color: #06b6d4;
    /* яркий голубой */
    --background-color: #f9fafb;
    --card-bg: #ffffff;
    --text-color: #111827;
    --input-bg: #f1f5f9;
    --input-border: #d1d5db;
    --input-hover-bg: #e5e7eb;
}

[data-theme="dark"] {
    --primary-color: #6366F1;
    --secondary-color: #818CF8;
    --accent-color: #22d3ee;
    --background-color: #111827;
    --card-bg: #1f2937;
    --text-color: #f9fafb;
    --input-bg: #374151;
    --input-border: #4b5563;
    --input-hover-bg: #4b5563;
}